.main{
  background-color:pink ;
  display:flex;
  flex-direction:row;
}
.profile{
  background-color:#ddd;
  font-size: 30px;
  padding: 2%;
  width:30%;
  margin:2%;
  text-align: center;
}
.content{
  background-color:#ddd;
  padding: 1%;
  width: 70%;
  margin:1%;
}
.profile img{
  border-radius: 50%;
  height:auto;
  width: 200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border:1px solid red;
  box-shadow:5px 5px 3px #ddd;
}

@media screen and(min-width:481px) and (max-width:780px){
.main{
  flex-direction: column;
  background-color: #ddd;
  display: flex;
  flex-wrap: wrap;

}
.profile{
  background-color:blue;
  font-size: 30px;
  padding: 2%;
  width:100%;
  margin:2%;
  text-align: center;
}
.content{
  background-color:blue;
  padding: 1%;
  width: 100%;
  margin:1%;

}
.profile img{
  border-radius: 50%;
  height:auto;
  width: 200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
border:1px solid red;
  box-shadow:5px 5px 3px #ddd;
}
}
